.App {
  text-align: center;
  background: #626161;
}

.App-header {
  background-color: #626161;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.font-monospace {
  color: #e0b769;
}

.title {
  color: #1a0c0c;
}

.footer {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 12px;
  color: #720707;
}

.ask-btn {
  margin-top: 20px;
  font-size: 16px;
  color: #e7ff8d;
}

.record-btn {
  margin-top: 20px;
  font-size: 16px;
  background: #28661b;
  color: #e7ff8d;
}

.stop-btn {
  margin-top: 20px;
  font-size: 16px;
  background: #720707;
  color: #e7ff8d;
}

.error-box {
  margin-top: 20px;
  margin-left: 100px;
  width: 600px;
}

.bold-label {
  font-size: 0.8em;
  font-weight: bold;
}

