html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #1e1e1e; /* Updated background color to a darker shade similar to a developer's IDE */
}

.App {
    text-align: left;
    background: transparent; /* You may want to change this as well to a specific color if needed */
    min-height: 100vh;
    overflow: auto;
}

.App-header {
    background-color: transparent;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.font-monospace {
    color: #d4d4d4; /* Lighter font color for better contrast on the dark background */
}

.title, h6 {
    color: #cccccc; /* Lighter font color for better contrast on the dark background */
}

.footer {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 12px;
    color: #cccccc; /* Adjusted to a lighter shade for visibility on the darker background */
}

.ask-btn {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
    font-size: 16px;
}

.conversation-btn {
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
}

.stop-btn, .stop-btn:focus {
    margin-top: 20px;
    font-size: 16px;
    background: #e3d3ea;
    color: #2e2e96;
}

.error-box {
    margin-top: 20px;
    margin-left: 100px;
    width: 70%;
}

.bold-label {
    font-size: 0.8em;
    font-weight: bold;
    color: whitesmoke;
}

textarea.prompt-box, textarea.prompt-box:focus {
    border: 1px solid #3c3c3c; /* Optional: subtle border color for the text area */
    color: #d4d4d4; /* Light color for text for readability on the dark background */
    background-color: #3d3b3b; /* Dark background color matching a developer's IDE */
}
