.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 30px;
    margin-right: 10px;
    z-index: 1;
    border-right-color: #0a53be;
    border-right-style: solid;
    border-right-width: 2px;
    padding-right: 15px;
}
